

body{
  font-size:22px;
  line-height:27px;
  color: black;
  font-weight: bold;
  font-family:"Roboto", "Arial", "sans-serif";
}

.main-navigation{
  font-size:14px;
  line-height:30px;
  color: black;
}

.catalog-title{
  font-size:40px;
  line-height:48px;
}
